venv/
site/
.cache/
*.pyc
__pycache__/
.python-version
.DS_Store
*.egg-info/

# Non-essential / internal-only files
__draft/
extra/
supporting-docs/
writing-guide/
writing-guide.zip
mkdocs_old.yml
docs/readme/
