x-images:
  vulcan: &vulcan_image "tmdcio/vulcan:${VERSION:-0.225.0-dev-02}"
  vulcan-transpiler: &vulcan_transpiler_image "tmdcio/vulcan-transpiler:${VERSION:-0.225.0-dev-02}"
  vulcan-graphql: &vulcan_graphql_image "tmdcio/vulcan-graphql:${VERSION:-0.225.0-dev-02}"

networks:
  vulcan:
    external: true

services:
  # Vulcan API for this example project
  vulcan-api:
    image: *vulcan_image
    working_dir: /workspace
    command: ["vulcan", "--log-to-stdout","api", "--host", "0.0.0.0", "--port", "8000"]
    environment:
      PROJECT_PATH: ${PROJECT_PATH:-/workspace}
    ports:
      - "8000:8000"
    volumes:
      - ../:/workspace
    restart: unless-stopped
    networks:
      - vulcan
    # Note: depends_on with external services (statestore, minio) won't work across compose files
    # Ensure infra services are running before starting this service

  # Transpiler service
  vulcan-transpiler:
    image: *vulcan_transpiler_image
    environment:
      VULCAN_API_URL: http://vulcan-api:8000/api/v1
    depends_on:
      - vulcan-api
    restart: unless-stopped
    networks:
      - vulcan


  # Vulcan GraphQL service
  vulcan-graphql:
    image: *vulcan_graphql_image
    environment:
      VULCAN_API_URL: http://vulcan-api:8000
      VULCAN_TRANSPILER_URL: http://vulcan-transpiler:4000
    depends_on:
      - vulcan-api
      - vulcan-transpiler
    restart: unless-stopped
    networks:
      - vulcan
